html, body {
  overflow: hidden;
}

.tile {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;

  /** Sizing happens in TileView */
  background: #eee;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.tile:nth-child(odd) {
	background: #ccc;
}

.tile .label {
  font-size: 12px;
  bottom: 6px;
  line-height: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
}

.tile.player {
  cursor: grab
}

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  box-sizing: border-box;
  padding: 20px;
}

#board {
  border: 1px solid #aaa;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
}

#board .header {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 20px;
  margin: 0;
  text-align: center;
  line-height: 60px;
  width: 100%;
}

#game {
  color: #444;
  height: 500px;
  width: 500px;
  margin: auto;
}

#score, #turns {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

#score span, #turns span {
  font-weight: bold;
}

#turns {
  float: right;
}

.subtitle {
  font-size: 12px;
  margin-bottom: 1em;
  margin-top: 4px;
}

.subtitle a {
  color: #444;
  text-decoration: none;
}

/** TODO: Re-enable if touch device */
.subtitle a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 0;
}

@media(max-width: 540px) {
  #board, #game {
    height: 360px;
    width: 360px;
  }

  .tile {
    line-height: 60px;
    font-size: 40px;
  }

  #board .header {
    font-size: 16px;
    height: 50px;
    top: 10px;
    line-height: 50px;
  }

  .tile .label {
    font-size: 10px;
    bottom: 6px;
  }
}