.tile {
  background: black;
}

.tile:nth-child(odd) {
	background: white;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  box-sizing: border-box;
  padding: 20px;
}

/* // Sizing happens within the tile itself */
/* .tile {
} */

#board {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}